.naviIcon{
    width:40px;
    height: 40px;
    margin:20px;
    border-radius: 50%;
    cursor: pointer;
}
.mobileController{
    height: 100px;
    display: flex;
    position: absolute;
    bottom: 170px;
}

.hidden{
    visibility: hidden;
}
.galleryContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.galleryMain{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and(max-width:700px){
    .galleryContainer{
        width: 200px;
    }
}

@media only screen and(max-width:412px){
    .galleryContainer{
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}