.mainWorkCard {
  display: flex;
  width: 800px;
  height: 350px;
  background-color: white;
  border-radius: 20px;
  transition: 1s ease-in-out;
  border: 20px solid #7F5283;
}

.workDesc {
  flex: 3;
  background-color: #32d15d;
  display: flex;
  flex-direction: column;
}

.demoImg {
  height: 310px;
  width: 510px;
  border-radius: 0px;
}
.workDemoImg {
  flex: 5;
  background-color: white;
  border-left: 1px solid darkgray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.workTitle {
  flex: 3;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-family: QuickSand;
  font-size: 18px;
}

.workDetails {
  flex: 12;
  background-color: white;
  text-align: left;
  padding: 10px;
  font-family: QuickSand;
  font-weight: bold;
  word-wrap: break-word;
}

@media only screen and (max-width:820px){
.mainWorkCard{
  width: 500px;
  height: 500px;
  flex-direction: column;
}
.workDemoImg{
  display: flex;
  align-items: flex-end;
}
.workDetails{
  border-radius: 0;
  height:500px;
}
.demoImg{
  height: 260px;
}
  
}


@media only screen and (max-width:412px){
  .mainWorkCard{
    width: 60vw;
    height: 60vh;
  }
  .workDemoImg{
    border-left:0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 0px;
    width: 60vw;
    padding: 0;
  }
  .workDetails{
    border-radius: 0;
    height:500px;

  }
  .workDesc{
    width: 100%;
  }
  
  .demoImg{
    width: 60vw;
    height: 20vh;
  }
    
  .naviIcon{
    position: relative;
    top: 138px;
  }
  }
  
  @media only screen and (max-width:720px){
    .mainWorkCard{
      width: 350px;
      height: 60vh;
    }
    .workDemoImg{
      width: 310px;
      height: 250px;
      padding: 0;
    }
    .workDetails{
      border-radius: 0;
      height:500px;
  
    }
    .workDesc{
      width: 100%;
    }
    
    .demoImg{
      width: 100%;
      height: 30vh;
    }
      
    .naviIcon{
      position: relative;
      top: 138px;
    }
    }
    